@charset "utf-8";
/* CSS Document */

body {
	background-color:#000000;
	height:100%;
}

#wrapper {
	height:100% !important;
	min-height: 100%;
	width:100%;
	position: relative;
}

#container {
	width:1200px;
	height:1050px;
	margin:0 auto;
	
}

#header {
	width:910px;
	margin:0 auto;
}

#mainNav {
	width:860px;
	margin:0 auto;
	background:#000000;
}

a:link { color: #FFFFFF; text-decoration:none; }
a:visited { color: #FFFFFF; text-decoration:none; }
a:hover { color: #FFFFFF; text-decoration:none; }
a:active { color: #FFFFFF; text-decoration:none; }


#mainNav ul{
	font-size:25px;
	padding-top:27px;
	
}

#mainNav li{
	float:left;
	margin-left:80px;
	color:#FFFFFF;
	text-decoration:none;
	
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

#mainVisual {
	width:281px;
	margin:0 auto;
	padding-top:56px;
	padding-bottom:64px;
}

#news {
	width:810px;
	height:470px;
	margin:0 auto;
	position:relative;
}

#news .box {
	width:382px;
	height:212px;
	float:left;
	background-color:#FFFFFF;
	margin-bottom:46px;
}

#news .boxright {
	margin-right:40px;
}


	

#sns_bt ul{
	clear:both;
	width:50px;
	margin:0 auto;
	float:left;
	top:20px;
	position:absolute;
	}

#sns_bt li {
	padding-bottom:20px;
}
	
#footer{
	height:60px;
}

#footer #top{
	width:50px;
	float:right;
	margin:0 auto;
	padding-right:40px;
	left:1200px;
	bottom:50px;
	position:absolute;
}

 #copy {
	width:100px;
	margin:0 auto;
	position:relative;
}

#subcontent {
	display:block;
	 width:910px;
	 height:30px;
	 background-color:#FFFFFF;
	 bottom:-10px;
	 left: 0;
     right: 0;
	 margin:0 auto; 
	 text-align:center;
	 position:absolute;
}



